<meta charset="utf-8">
    <style>
        .backg {
            background: repeating-linear-gradient(
				45deg,
				#60f89396,
				#60f89396 10px,
				#58e48696 10px,
				#58e48696 20px
			);
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			position: absolute;
        }
        .message {    
            text-align: center;
			color: rgb(85, 85, 85);
    		font-size: 50px;
			text-shadow: 2px 2px 0px rgb(255, 255, 115);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            width: 400px;
            margin-top: 200px;
			margin-bottom: auto;
			margin-left: auto;
			margin-right: auto;
			padding: 5%;
            font-family: Tahoma, Geneva, sans-serif;
			background-color: rgba(245, 245, 245, 0.692);
        }
        .navbar {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 50px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 20px;
            letter-spacing: 5px;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          
        }
        .navbar-nav  li a:hover {
            color: #02af028c !important;
        }
        .nav-form {
            padding: 50px;
            display: block;
            text-align: center;
            font-size: 20px;
            margin-bottom: 0px;
    	}
    </style>
<title>Static Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">