<html>
    <head>
        <%- include ('partials/head'); -%> 
    </head>
    <body>
        <div class="backg">
            <nav class="message">
                <p class="nav-form">Inaccessible Link!
                    <br>
                    <a href="http://localhost:3000/">Back</a>
                </p>
            </nav>
        </div>
	</body>
</html>