<html>
    <head>
        <%- include ('partials/head'); -%> 
    </head>
    <body>
        <div class="backg">
            <nav class="message">
                <p class="nav-form">Please login to view this page!
                    <br>
                    <a href="https://staticwebpage-266514.appspot.com/">Log In</a>
                </p>
            </nav>
        </div>
	</body>
</html>