<html>
    <head>
        <%- include ('partials/head'); -%> 
        
        <style>
        body {
            max-height: 100%;
        }
        .back {
            background: linear-gradient(#02af028c 60%, rgb(255, 255, 115) 80%);
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            display: block;
        }
        .border {
            align-content: center;
            width: 900px;
            margin: auto;
            background-color: white;
            font-size: 20px;
            font-family: Tahoma, Geneva, sans-serif;
            border-radius: 5px;
            border: 1px solid #dddddd;
        }
        .row {
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 40px;
            margin-right: 40px;
            text-align: left;
            background-color: whitesmoke;
            border: 1px solid #dddddd;
            border-radius: 5px;
        }
        .border input[type="text"]{
            width: 96%;
            margin-top: auto;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            display: block;
            border: 1px solid #dddddd;
            border-radius: 5px;
            font-size: 15px;
        }
        .border input[type="date"]{
            width: 96%;
            margin-top: auto;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            display: block;
            border: 1px solid #dddddd;
            border-radius: 5px;
            font-size: 15px;
        }
        .border input[type="submit"], [type="reset"] {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 25%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border: 1px solid #dddddd;
            border-radius: 5px;
            background: slategrey;
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .title {
            display: block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            color: slategrey;
            padding-top: 4%;
            padding-bottom: 4%;     
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .questions {
            width: 96%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 15px;
            color: slategrey;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .footer {
            height: 50px;
            background: rgb(255, 255, 115);
        }
        </style>
    </head>
    <body>
        <div class="back">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav navbar-right">
                    <li id="logout"><a href="/logout">LOG OUT</a></li>
                </ul>
            </nav>
            <div class="border">
                <form action="req" method="POST">
                    <label class="title">Pingdom & Uptrends Test Webpage</label>
                    <div class="row">
                        <label class="questions">Q1. Enter your first name </label>
                        <input type="text" name="q1" contenteditable="true" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q2. Enter your last name </label>
                        <input type="text" name="q2" contenteditable="true" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q3. Enter an email address </label>
                        <input type="text" name="q3" contenteditable="true" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q4. Select due date</label>
                        <input type="date" name="q4" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q5. Enter a short summary of the request</label>
                        <input type="text" name="q5" contenteditable="true" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q6. State the business impact if applicable</label>
                        <input type="text" name="q6" contenteditable="true" >                
                    </div>
                    <div class="row">
                        <label class="questions">Q7. State the financial reporting impact if applicable</label>
                        <input type="text" name="q7" contenteditable="true" >                
                    </div>
                    <div class="row">
                        <label class="questions">Q8. State any privacy risks if applicable</label>
                        <input type="text" name="q8" contenteditable="true" >                
                    </div>
                    <div class="row">
                        <label class="questions">Q9. Add any additional notes</label>
                        <input type="text" name="q9" contenteditable="true">                
                    </div>
                
					<input type="submit" value="Submit">
                    <input type="reset" value="Reset">
				</form> 
            </div>
            <div class="footer"></div>
        </div>    
	</body>
</html>