<html>
    <head>
        <%- include ('partials/head'); -%> 
        
        <style>
        body {
            max-height: 100%;
        }
        .back {
            background: linear-gradient(#02af028c 60%, rgb(255, 255, 115) 80%);
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            display: block;
        }
        .border {
            align-content: center;
            width: 900px;
            margin: auto;
            background-color: white;
            font-size: 20px;
            font-family: Tahoma, Geneva, sans-serif;
            border-radius: 5px;
            border: 1px solid #dddddd;
        }
        .row {
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 40px;
            margin-right: 40px;
            text-align: left;
            background-color: whitesmoke;
            border: 1px solid #dddddd;
            border-radius: 5px;
        }
        .border input[type="text"]{
            width: 96%;
            margin-top: auto;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            display: block;
            border: 1px solid #dddddd;
            border-radius: 5px;
            font-size: 15px;
        }
        .border input[type="date"]{
            width: 96%;
            margin-top: auto;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            display: block;
            border: 1px solid #dddddd;
            border-radius: 5px;
            font-size: 15px;
        }
        .border input[type="submit"], [type="reset"] {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 25%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border: 1px solid #dddddd;
            border-radius: 5px;
            background: slategrey;
            color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .title {
            display: block;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            color: slategrey;
            padding-top: 4%;
            padding-bottom: 4%;     
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .questions {
            width: 96%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 15px;
            color: slategrey;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .footer {
            height: 50px;
            background: rgb(255, 255, 115);
        }
        </style>
        <script>
            var _urconfig = { sid: "cfb1c45f-664a-4b19-8e74-b1225d4e6b4f", aip: 0, usePageProtocol: false };
            (function (d, s) {
                var js = d.createElement(s),
                    sc = d.getElementsByTagName(s)[0];
                js.src = "https://hit.uptrendsdata.com/rum.min.js";
                js.async = "async";
                sc.parentNode.insertBefore(js, sc);
            }(document, "script"));
        </script>
        
    </head>
    <script type="text/javascript">
        var rumMOKey='a2746db7c9dac4737d58ce3db7b47421';
        (function(){
        if(window.performance && window.performance.timing && window.performance.navigation) {
            var site24x7_rum_beacon=document.createElement('script');
            site24x7_rum_beacon.async=true;
            site24x7_rum_beacon.setAttribute('src','//static.site24x7rum.com/beacon/site24x7rum-min.js?appKey='+rumMOKey);
            document.getElementsByTagName('head')[0].appendChild(site24x7_rum_beacon);
        }
        })(window)
        </script>
    <script src="//rum-static.pingdom.net/pa-5e31f87e11c0700008000323.js" async></script>
    <body>
        <div class="back">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav navbar-right">
                    <li id="logout"><a href="/logout">LOG OUT</a></li>
                </ul>
            </nav>
            <div class="border">
                <form action="req" method="POST">
                    <label class="title">Pingdom & Uptrends Test Webpage</label>
                    <div class="row">
                        <label class="questions">Q1. Enter your first name </label>
                        <input type="text" name="q1" contenteditable="true" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q2. Enter your last name </label>
                        <input type="text" name="q2" contenteditable="true" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q3. Enter an email address </label>
                        <input type="text" name="q3" contenteditable="true" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q4. Enter a short summary of the request</label>
                        <input type="text" name="q4" contenteditable="true" required>
                    </div>
                    <div class="row">
                        <label class="questions">Q5. State the business impact if applicable</label>
                        <input type="text" name="q5" contenteditable="true" >                
                    </div>               
					<input type="submit" value="Submit">
                    <input type="reset" value="Reset">
				</form> 
            </div>
            <div class="footer"></div>
        </div>    
	</body>
</html>