<html>
    <head>
        <%- include ('partials/head'); -%> 
    </head>
    <body>
        <div class="backg">
			<nav class="message">
                <p class="nav-form">LOGGED OUT
                    <br>
                    <a href="http://localhost:3000/">Log In</a>
                </p>
            </nav>
		</div>
	</body>
</html>