<html>
    <head>
        <%- include ('partials/head'); -%> 
    </head>
    <body>
        <div class="backg">
			<nav class="message">
                <p class="nav-form">Slack!
                </p>
            </nav>
		</div>
	</body>
</html>